::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #dfe1e6;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
  